* {
  margin: 0;
}

*, *::after,
*::before {
  box-sizing: border-box;
}

.box {
  font-size: 2rem;
  color: white;
  /* border: 3px solid purple;
  padding: 3rem; */
  text-align: center;
  vertical-align: middle;
}

.box-a {
  background-color: red;
}

.box-b {
  background-color: blue;
}

.box-c {
  background-color: green;
  /* flex-grow: 2; */
}

.box-d {
  background-color: yellow;
}

.box-e {
  background-color: orange;
}

.box-f {
  background-color: pink;
}

.flex-container {
  display: flex;
  width: 100%;
  /* flex-direction: row; */
  justify-content: space-evenly;
  gap: 2%;
  flex-wrap: wrap;
}

.col-1 {
  flex: 0 1 calc(100% / 12);
}

.col-2 {
  flex: 0 1 calc(200% / 12);
}

.col-3 {
  flex: 0 1 calc(300% / 12);
}

.col-4 {
  flex: 0 1 calc(400% / 12);
}

.col-5 {
  flex: 0 1 calc(500% / 12);
}

.col-6 {
  flex: 0 1 calc(600% / 12);
}